.heading-style {
    font-weight: bold;
    color: red;
    text-transform: capitalize;

}

.heading-style2 {
    color: green;
}

.fontSizeIncOrDec {
    font-size: 50px;
    padding: 8px 20px;
    border: 1px solid green;
    margin: 8px;
}