.heading-style {
    font-weight: bold;
    color: red;
    text-transform: capitalize;

}

.heading-style2 {
    color: green;
}

.fontSizeIncOrDec {
    font-size: 50px;
    padding: 8px 20px;
    border: 1px solid green;
    margin: 8px;
}

#forAnimationArea {
    padding: 8px 12px;
    border: 1px solid red;
    width: fit-content;
    cursor: pointer;
}

#forAnimationArea h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 8px 0px;
    text-decoration: underline;
}

#Events {
    padding: 8px 12px;
    border: 1px solid red;
    margin-top: 10px;
    width: fit-content;
    cursor: pointer;
}

#Events h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 8px 0px;
    text-decoration: underline;
}